// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.my_width{
    width: 250px;
}

.my_width_show{
    width: 800px;
}
.my_width_show_create{
    width: 200px;
}
.my_dash_img{
    width: 100%;
}