// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.my_width{
    width: 250px;
}

.my_width_show{
    width: 800px;
}
.my_width_show_create{
    width: 200px;
}
.my_dash_img{
    width: 100%;
}

.sinvalid-feedback {
    display: none; /* Inizialmente nascosto */
    color: red; /* Colore rosso per indicare errore */
    font-size: 14px; /* Dimensione del carattere */
}

.border-orange{
    border-color: #fe7e00;
}

.form-check-input:checked {
    background-color: #fe7e00;
  }

  .form-check-input:focus {
    box-shadow: none;
    border: none;
  }



.sfondo-orange:hover {
    transition: .4s ease;
    box-shadow: rgba(254, 126, 0, 0.25) 0px 54px 55px, 
                rgba(254, 126, 0, 0.12) 0px -12px 30px, 
                rgba(254, 126, 0, 0.12) 0px 4px 6px, 
                rgba(254, 126, 0, 0.17) 0px 12px 13px, 
                rgba(254, 126, 0, 0.09) 0px -3px 5px;
}

#edit-form input:focus{
    box-shadow: none;
    border-color: #fe7e00;
}



